* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FEFAE0;
}

nav {
  width: 80%;
  max-width: 600px;
  height: 50px;
  background: linear-gradient(60deg, #DDA15E 75%, #BC6C25);
  float: right;
  border-bottom-left-radius: 25px;
  box-shadow: 0 0 20px 2px #BC6C25;
  z-index: 1;
  top: 0;
  position: fixed;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.25rem;
  font-family: sans-serif;
  color: #283618;
}

section {
  max-width: 100%;
  height: 300px;
  background: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#products {
  background-color: #BC6C25;
}

#benefits {
  background-color: #DDA15E;
}

@media (max-width: 500px) {
  nav {
    max-width: 200px;
    height: 100px;
  }
  nav ul {
    flex-direction: column;
  }
}