* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.gallery {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #F5F5F0;
}

.gallery-item {
  width: 400px;
  height: 500px;
  object-fit: cover;
}

.lightbox {
  display: none;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
}

#close-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10%;
  right: 20%;
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  color: #F5F5F0;
}

#lightbox-image {
  width: 50%;
  object-fit: contain;
}